body {
  display: flex;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}

#loseScreen {
  position: absolute;
  left: calc(50% - 350px);
  top: calc(50% - 350px);
  margin: 0 auto;
  background-image: url(../images/gameover.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
  width: 700px;
  display: none;
}

#loseScreen button {
  position: relative;
  background-color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  top: 65%;
  left: calc(50% - 350px);
  font-size: 16px;
  margin: 0 auto;
}

#loseScreen h2 {
  position: relative;
  top: 70%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: black;
}